/* Basics */
$email-width: 600px;
$email-padding: 10px;
$sidebar-width: 100px;
$mobile: 400px;
$desktop: 620px;

body {
	margin: 0 !important;
	padding: 0;
	background-color: #ffffff;
}
table {
	border-spacing: 0;
	font-family: sans-serif;
	color: #333333;
}
td {
	padding: 0;
}
img {
	border: 0;
}
div[style*="margin: 16px 0"] { 
	margin:0 !important;
}
.wrapper {
	width: 100%;
	table-layout: fixed;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
.webkit {
	max-width: 600px;
	margin: 0 auto;
}
.outer {
	Margin: 0 auto;
	width: 100%;
	max-width: $email-width;
}
.inner {
	padding: $email-padding;
}
.contents {
	width: 100%;
}
p {
	Margin: 0;
	&.h1 {
		font-size: 21px;
		font-weight: bold;
		Margin-bottom: 18px;
	}
	&.h2 {
		font-size: 18px;
		font-weight: bold;
		Margin-bottom: 12px;
	}	
}
a {
	color: #ee6a56;
	text-decoration: underline;
}
.full-width-image img {
	width: 100%;
	max-width: 600px;
	height: auto;
}

/* One column layout */
.one-column
{
	.contents {
		text-align: left;
	}
	p {
		font-size: 14px;
		Margin-bottom: 10px;
	}
}

/*Two column layout*/
.two-column
{
	$col-width: $email-width / 2;
	text-align: center;
	font-size: 0;

	.column {
		width: 100%;
		max-width: $col-width;
		display: inline-block;
		vertical-align: top;
		
		@media screen and (max-width: $mobile) {
			max-width: 100% !important;
		}
		
		@media screen and (min-width: 401px) and (max-width: 620px) {
			max-width: 50% !important;
		}
	}

	.contents {
		font-size: 14px;
		text-align: left;
	}

	img {
		width: 100%;
		max-width: $col-width - ($email-padding * 2);
		height: auto;
		
		@media screen and (max-width: $mobile) {		
			max-width: 100% !important;
		}

	}

	.text {
		padding-top: 10px;
	}
}

/*Three column layout*/
.three-column {
	$col-width: $email-width / 3;
	text-align: center;
	font-size: 0;
	padding-top: 10px;
	padding-bottom: 10px;

	.column {
		width: 100%;
		max-width: $col-width;
		display: inline-block;
		vertical-align: top;
		
		@media screen and (max-width: $mobile) {
			max-width: 100% !important;
		}
		
		@media screen and (min-width: $mobile + 1px) and (max-width: $desktop) {
			max-width: 33% !important;
		}
	}

	img {
		width: 100%;
		max-width: $col-width - ($email-padding * 2);
		height: auto;

		@media screen and (max-width: $mobile) {
			max-width: 50% !important;
		}
	}

	.contents {
		font-size: 14px;
		text-align: center;
	}

	.text {
		padding-top: 10px;
	}
}

/* sidebar main settings */

%sidebar {
	text-align: center;
	font-size: 0;
}

%sidebar-column {
	width: 100%;
	display: inline-block;
	vertical-align: middle;
}

%sidebar-contents {
	font-size: 14px;
	text-align: center;
}

/* Left sidebar layout */

.left-sidebar {
	@extend %sidebar;

	.column {
		@extend %sidebar-column;
	}
	
	.left {
		max-width: 100px;
	}
	
	.right {
		max-width: 500px;
	}
	
	.img {
		width: 100%;
		max-width: 80px;
		height: auto;
	}
	
	.contents {
		@extend %sidebar-contents;
	}
	
	a {
		color: #85ab70;
	}
}

/* Right sidebar layout */
.right-sidebar {
	@extend %sidebar;

	.column {
		@extend %sidebar-column;
	}
	
	.left {
		max-width: 100px;
	}
	
	.right {
		max-width: 500px;
	}
	
	.img {
		width: 100%;
		max-width: 80px;
		height: auto;
	}
	
	.contents {
			@extend %sidebar-contents;
	}
	
	a {
		color: #70bbd9;
	}
}